.font0_9 {
  font-size: $font0_9;
}
.font1_1 {
  font-size: $font1_1;
}
.font1_2 {
  font-size: $font1_2;
}
.font1_39 {
  font-size: $font1_39;
}
.font1_5 {
  font-size: $font1_5;
}
.font1_8 {
  font-size: $font1_8;
}
.font2 {
  font-size: $font2;
}
.font2_5 {
  font-size: $font2_5;
}
.font3_35 {
  font-size: $font3_35;
}
.font3_5 {
  font-size: $font3_5;
}
.font4_1 {
  font-size: $font4_1;
}
.font4_2 {
  font-size: $font4_2;
}
.font6 {
  font-size: $font6;
}
.font7 {
  font-size: $font7;
}
.font12_1 {
  font-size: $font12_1;
}
.font14_3 {
  font-size: $font14_3;
}
.font15 {
  font-size: $font15;
}

//
.leading1_1 {
  line-height: $leading1_1;
}

.leading1_2 {
  line-height: $leading1_2;
}

.leading23 {
  line-height: $leading23;
}

.text-BFBFBF {
  color: $color-BFBFBF !important;
}

.space1_2 {
  letter-spacing: $space1_2;
}

.space0_02 {
  letter-spacing: $space0_02;
}
